<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col col-md-6">
        <h5 class="card-title">
          {{ '::Menu:Products' | abpLocalization }}
        </h5>
      </div>
      <div class="text-right col col-md-6">
          <div class="text-lg-right pt-2">
              <button id="create" class="btn btn-primary" type="button" (click)="createProduct()">
                  <i class="fa fa-plus mr-1"></i>
                  <span>{{ '::NewProduct' | abpLocalization }}</span>
              </button>
          </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <ngx-datatable [rows]="product.items" [count]="product.totalCount" [list]="listService" default>
      <ngx-datatable-column [name]="'::Name' | abpLocalization" prop="name"></ngx-datatable-column>
      <ngx-datatable-column [name]="'::Type' | abpLocalization" prop="type">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ '::Enum:ProductType:' + row.productType | abpLocalization }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'::PublishDate' | abpLocalization" prop="publishDate">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.creationTime | date }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'::Price' | abpLocalization" prop="price">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.price | currency }}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>

<app-create-update-product-modal #createUpdateProductModal (productChanged)="onProductChanged()"></app-create-update-product-modal>